---
import BaseHead from "../components/BaseHead.astro";
import Link from "../components/Link.astro";

async function getWeather() {
  const date = new Date();
  const oneHourAgo = new Date(date - 1000 * 60 * 60);
  const isoDate = date.toISOString();
  const isoOneHourAgo = oneHourAgo.toISOString();

  const res = await fetch(
    `https://api.brightsky.dev/weather?tz=Europe/Berlin&wmo_station_id=10384&date=${isoOneHourAgo}&last_date=${isoDate}`
  );
  const data = await res.json();

  const weatherCode = data.weather[0].icon;
  switch (weatherCode) {
    case 'clear-night':
    case 'partly-cloudy-night':
      return "nighttime ";
    case 'clear-day':
    case 'partly-cloudy-day':
      return "sunny ";
    case 'cloudy':
      return "cloudy ";
    case 'fog':
      return "foggy ";
    case 'wind':
      return "windy ";
    case 'rain':
      return "rainy ";
    case 'sleet':
      return "sleety ";
    case 'snow':
      return "snowy ";
    case 'hail':
      return "haily ";
    case 'thunderstorm':
      return "stormy ";
    default:
      return "";
  }
  
  return weatherCode;
}

const weather = await getWeather();

const allPosts = Astro.fetchContent('./posts/*.md');
sortedPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
---
<html lang="en">
  <BaseHead />
  <body class="text-lg md:text-xl lg:text-2xl flex flex-col min-h-screen bg-bg text-text">
    <header class="p-4 md:p-6 text-xl lg:text-2xl bg-bg-subtle order-last mt-auto md:order-first md:mt-0">
      <nav>
        <ul class="flex gap-4 justify-center">
          <li><Link href="/">Home</Link></li>
          <li><Link href="/about">About</Link></li>
          <li><Link href="/notes">Notes</Link></li>
        </ul>
      </nav>
    </header>
    <main class="max-w-3xl px-4 mx-auto">
      <h1 class="sr-only">Home</h1>
      <p class="text-2xl md:text-3xl lg:text-4xl my-8">
        Hello from {weather}<Link href="/berlin">Berlin</Link><span class="text-primary not-sr-only"></span> My name is <Link href="/about">Robin</Link>, and this is my website. Have a look around!
      </p>
      <hr class="divider" />
      <h2 class="font-small-caps text-center my-8">Latest notes</h2>
      <section>
        {sortedPosts.map(p => <a href={p.url}>{p.title}</a>)}
      </section>
    </main>
  </body>
</html>
