---
export interface Props {
  title: string;
  description: string;
}
const { title: pageTitle, description: pageDescription } = Astro.props;
const siteTitle = "Robin Métral";
const siteDescription = "My name is Robin, and this is my website.";
const title = pageTitle ? `${pageTitle} ✣ ${siteTitle}` : siteTitle;
const description = pageDescription || siteDescription;
---
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
  <link rel="preload" href="/fonts/FernVariable-Roman-VF.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/FernVariable-Italic-VF.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌿</text></svg>" />

  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
</head>
